@font-face {
  font-family: RobotoConRegular;
  src: url("roboto-condensed.regular.ttf");
}


body {
  padding: 0;
  margin: 0;
}
header {

  height: 50px;
  background-color: #29434e;
  overflow: hidden;
}
.header-right {
  float: right;
}
.hLogo {
  width: 50px;
  height: 50px;
  background-image: url("logo.png");
  background-size: cover;
  margin-left: 10px;
  float: left;
}
header a {
  font-family: RobotoConRegular;
  float: left;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 12.5px;
  line-height: 25px;
  font-size: 19px;
  transition: 0.2s;
}
header a:hover {
  background-color: #546e7a;
}

.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

h1 {
    text-align: center;
}

.hamburger {
    margin: 0;
    margin-right: 10px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    display: none;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: white;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}



.hamburger3 .bar1 {
    transform-origin: 5%;
}

.hamburger3 .bar4 {
    transform-origin: 5%;
}

.checkbox3:checked + label > .hamburger3 > .bar1{
    transform: rotate(45deg);
    height: 3px;
    width: 42px;
}

.checkbox3:checked + label > .hamburger3 > .bar3{
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar2{
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar4{
    transform: rotate(-45deg);
    height: 3px;
    width: 42px;
}



@media (max-width: 699px) {

.hamburger {
  display: block;
}

.header-right {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  background-color: #546e7a;
  height: 300px;
  display: none;
}
header a {
  width: 100%;
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid  #29434e;
}

}
.checkbox3:checked ~ .header-right {
  display: block;
}
